@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min.scss';

@import 'base/variables';

* {
    font-family: 'Mulish', sans-serif;
}

.title {

    margin-top: 75px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #3A3845;

    &_mini {
        text-align: left;
        font-size: 25px;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/contacts';
@import 'blocks/services';
@import 'blocks/media';