.promo {
    min-height: 520px;
    background: url(../../images/promo/promo_bg.jpg) center (center/cover) no-repeat;
    padding-top: 130px;

    &__title {
        font-weight: 800;
        font-size: 46px;
        line-height: 53px;

        letter-spacing: 0.4px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    &__btn {
        margin-top: 54px;
    }
}